<a href="https://colab.research.google.com/github/aaljaish/ASD_Prevalence/blob/main/03_Simulation_for_ASD_Prevalence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import random
import math
from tqdm import tqdm

In [2]:
asd_prev=pd.read_csv('https://raw.githubusercontent.com/aaljaish/ASD_Data/main/ASD%20Prevalence.csv')
asd_prev['Age_group']=18
pop = pd.read_csv('https://raw.githubusercontent.com/aaljaish/ASD_Data/main/Population%20Data.csv')
mortality_rate=pd.read_csv('https://raw.githubusercontent.com/aaljaish/ASD_Data/main/Mortality%20Rates%20for%20General%20Population.csv')
hr = pd.read_csv('https://raw.githubusercontent.com/aaljaish/ASD_Data/main/ASD%20Mortality%20HR.csv')

In [44]:
asd_prev

                    Geography     Sex  asd_prevalence  Age_group
0            British Columbia    Male        0.040656         18
1            British Columbia  Female        0.008827         18
2                     Alberta    Male        0.036237         18
3                     Alberta  Female        0.011174         18
4                Saskatchewan    Male        0.012749         18
5                Saskatchewan  Female        0.005964         18
6                    Manitoba    Male        0.033206         18
7                    Manitoba  Female        0.004810         18
8                     Ontario    Male        0.037968         18
9                     Ontario  Female        0.009241         18
10                     Quebec    Male        0.027928         18
11                     Quebec  Female        0.010629         18
12              New Brunswick    Male        0.082408         18
13              New Brunswick  Female        0.012108         18
14                Nova Scotia    Male        0.026742         18
15                Nova Scotia  Female        0.007313         18
16       Prince Edward Island    Male        0.074219         18
17       Prince Edward Island  Female        0.014844         18
18  Newfoundland and Labrador    Male        0.044297         18
19  Newfoundland and Labrador  Female        0.004147         18
20                    Nunavut    Male        0.023900         18
21                    Nunavut  Female        0.006000         18
22      Northwest Territories    Male        0.023900         18
23      Northwest Territories  Female        0.006000         18
24                      Yukon    Male        0.012800         18
25                      Yukon  Female        0.002600         18

In [3]:
# Create a boolean mask for rows that contain the text
import re

# Define the age groups to match
age_groups = ['0 to 4', '5 to 9', '10 to 14', '90 to 94', '95 to 99', '100 and over']

# Create a regex pattern that matches any of the age groups as a whole word (not part of another string)
# The \b denotes a word boundary in regex, ensuring we're matching the entire string and not a part of it.
pattern = r'\b(?:' + '|'.join(age_groups) + r')\b'

# Apply a function to each cell in the DataFrame. The function checks if the cell's value (converted to a string and stripped of leading/trailing whitespace)
# matches the regex pattern exactly. This returns a DataFrame of the same shape as 'pop' with True for matches and False for non-matches.
# Then, .any(axis=1) checks if any cells in each row are True (i.e., if any cells in the row match one of the age groups).
# This results in a Series where each element corresponds to a row of 'pop', and the element is True if any cell in that row matches one of the age groups.
mask = pop.apply(lambda row: row.astype(str).apply(lambda x: bool(re.fullmatch(pattern, x.strip()))).any(), axis=1)

# Filter the DataFrame to exclude the rows with the specified text
pop = pop[~mask].copy()
pop.reset_index(inplace=True, drop=True)

# Replace "15 to 19" with "18 to 19" in the "Age_group" column
pop['Age_group'] = np.where(pop["Age_group"]=="15 to 19", "18 to 19", pop["Age_group"])

# Convert "object_column" to integer
pop['Persons'] = pop['Persons'].astype(int)

# Conditionally divide "person" column values by 5 and multiply by 2
pop['Persons'] = np.where(pop["Age_group"]=="18 to 19", (pop["Persons"]/5)*2, pop["Persons"])


# Create a new DataFrame to store the new data
dfs = []

# Iterate through the original DataFrame
for index, row in pop.iterrows():
    # Get the start and end ages for each age group
    start_age, end_age = [int(age) for age in row['Age_group'].split(' to ')]
    
    # Create new rows for each individual age within the age group
    for age in range(start_age, end_age + 1):
        new_row = row.copy()
        new_row['Age_group'] = age
        new_row['Persons'] = new_row['Persons'] / 2 if new_row['Age_group'] == 18 or new_row['Age_group'] == 19 else new_row['Persons'] / 5

        new_row['Persons']=round(new_row['Persons'],0)
        dfs.append(pd.DataFrame(new_row).T)

        # Concatenate the list of DataFrames into a single DataFrame
new_data = pd.concat(dfs, ignore_index=True)
new_data['Persons']=new_data['Persons'].astype(int)
pop=new_data.copy()

In [4]:
# Create a boolean mask for rows that contain the text
mask = mortality_rate.apply(lambda row: any(row.astype(str).str.contains('0 to 1|1 to 4|5 to 9|10 to 14|90+')), axis=1)

# Filter the DataFrame to exclude the rows with the text
mortality_rate = mortality_rate[~mask].copy()
mortality_rate.reset_index(inplace=True, drop=True)


# Replace "15 to 19" with "18 to 19" in the "Age_group" column
mortality_rate['Age_group'] = np.where(mortality_rate["Age_group"]=="15 to 19", "18 to 19", mortality_rate["Age_group"])

# Convert "object_column" to integer
mortality_rate['Rate'] = mortality_rate['Rate'].astype(float)
mortality_rate = mortality_rate[mortality_rate['Year'] == 2019]
mortality_rate = mortality_rate.drop('Year', axis=1)
mortality_rate = mortality_rate.rename(columns={'Rate': 'Mortality Rate'})

# Create a new DataFrame to store the new data
dfs = []

# Iterate through the original DataFrame
for index, row in mortality_rate.iterrows():
    # Get the start and end ages for each age group
    start_age, end_age = [int(age) for age in row['Age_group'].split(' to ')]
    
    # Create new rows for each individual age within the age group
    for age in range(start_age, end_age + 1):
        new_row = row.copy()
        new_row['Age_group'] = age
        dfs.append(pd.DataFrame(new_row).T)
# Concatenate the list of DataFrames into a single DataFrame
new_data = pd.concat(dfs, ignore_index=True)
mortality_rate=new_data.copy()

In [5]:
data = pd.DataFrame()
data = pd.merge(left=pop,right=mortality_rate, how='left', on=['Geography','Sex','Age_group'])
data = pd.merge(left=data,right=asd_prev, how='left', on=['Geography','Sex', 'Age_group'])
data = pd.merge(left=data,right=hr, how='left', on=['Sex'])

In [6]:
data = data.rename(columns={'Mortality Rate':'mortality_rate', 'rate':'hazard_ratio'})
data['Persons']=data['Persons'].astype(int)
data['hazard_ratio']=np.exp(data['hazard_ratio'])


data["mortality_rate"]=data["mortality_rate"].astype(float)
data["Persons"]=data["Persons"].astype(float)
data["asd_prevalence"]=data["asd_prevalence"].astype(float)

data['pop_survival']=1-((data['Persons']*((data['mortality_rate']/1000)))/data['Persons'])
data = data.rename(columns={'Persons':'population', 'Age_group': 'age', 'Geography':'province', 'Sex':'sex'})

In [56]:
data[(data['province'] == 'Alberta') & (data['sex'] == 'Female')]

,province,sex,age,population,mortality_rate,asd_prevalence,hazard_ratio,se,pop_survival
1224,Alberta,Female,18,24840.0,0.2,0.011174,3.119897,0.145,0.9998
1225,Alberta,Female,19,24840.0,0.2,NaN,3.119897,0.145,0.9998
1226,Alberta,Female,20,26493.0,0.5,NaN,3.119897,0.145,0.9995
1227,Alberta,Female,21,26493.0,0.5,NaN,3.119897,0.145,0.9995
1228,Alberta,Female,22,26493.0,0.5,NaN,3.119897,0.145,0.9995
...,...,...,...,...,...,...,...,...,...
1291,Alberta,Female,85,5109.0,72.8,NaN,3.119897,0.145,0.9272
1292,Alberta,Female,86,5109.0,72.8,NaN,3.119897,0.145,0.9272
1293,Alberta,Female,87,5109.0,72.8,NaN,3.119897,0.145,0.9272
1294,Alberta,Female,88,5109.0,72.8,NaN,3.119897,0.145,0.9272
1295,Alberta,Female,89,5109.0,72.8,NaN,3.119897,0.145,0.9272

### Step 6: Conduct analysis to estimate prevalence
This code below is manipulating a dataset based on ASD (Autism Spectrum Disorder). It's iterating through groups of data by province and sex, calculating various statistics such as ASD prevalence, mortality rate, number of ASD cases, ASD survival rate, rho_adj, and gamma_adj, and appending these values to respective lists.

In [7]:
def beta_parameters(mean, stddev):
    # make sure mean and stddev are in valid range
    assert 0 < mean < 1, "Mean should be in (0, 1) range"
    assert 0 < stddev < np.sqrt(mean * (1 - mean)), "Standard deviation should be in (0, sqrt(mean * (1 - mean))) range"
    
    # convert stddev to variance
    variance = stddev ** 2
    
    # common part of both alpha and beta
    common = mean * (1 - mean) / variance - 1
    
    # calculate alpha and beta
    alpha = mean * common
    beta = (1 - mean) * common
    
    return alpha, beta

In [37]:
# ASD Standard Error from CHYSC --> this is just just a placeholder for now
se_ASD_prev=0.001;
# Group the data by 'province' and 'sex' columns
grouped = data.groupby(['province','sex'])

# Convert grouped data into a dictionary with 'province' as the key
grouped = {province: data for province, data in grouped}

# Get the list of keys from the dictionary
my_keys = list(grouped.keys())

sim_data=[]

# Initialize the tqdm progress bar
for num_sim in tqdm(range(0, 1000), desc="Running simulations"):

  hr['current_simulated_hr'] = np.exp(np.random.normal(loc=hr['rate'], scale=hr['se']))

  # Initialize empty lists to store data
  rho_adj = []
  gamma_adj = []
  N_ASD = []
  asd_survival = []
  rho_adj = []
  gamma_adj = []
  sex = []
  HR = []
  province = []
  ages = []
  pops = []
  ASD_prev_3_17 = []

  # Loop through each key in the dictionary
  for key in my_keys:
      # Get ASD prevalence for the current group
      asd_prevalence_prev = grouped[key]['asd_prevalence'].values[0]
      alpha, beta = beta_parameters(asd_prevalence_prev, se_ASD_prev)
      asd_prevalence_prev = np.random.beta(alpha, beta, 1)[0]

      # Store the first ASD prevalence for the current group
      first_asd_prevalence = asd_prevalence_prev.copy()
      
      # Get ASD mortality rate for the current group
      mortality_rate = grouped[key]['mortality_rate'].values
      exponentiated_HR=hr[hr['Sex']==key[1]]['current_simulated_hr'].values[0]
      
      # Get population for the current group
      population = grouped[key]['population'].values
      # Get population survival rate for the current group
      pop_survival = grouped[key]['pop_survival'].values
      # Get age for the current group
      age = grouped[key]['age'].values

      # Loop through each record in the current group
      for i, j in enumerate(zip(age,population, pop_survival)):
          pop_temp=population[i].copy()
          pop_survival_temp=pop_survival[i]
          asd_mortality_rate=exponentiated_HR*pop_survival_temp
          asd_survival_temp=1 - (asd_mortality_rate / 1000)
          N_ASD_temp=pop_temp*asd_prevalence_prev
          rho_adj_temp=asd_prevalence_prev * asd_survival_temp
          gamma_adj_temp=pop_temp * rho_adj_temp

          # Append province, sex and age to their respective lists
          province.append(key[0])
          sex.append(key[1])
          ages.append(age[i])

          # Append population and ASD prevalence for ages 3-17 to their respective lists
          pops.append(population[i])
          ASD_prev_3_17.append(first_asd_prevalence)
          
          # Calculate number of ASD cases and append to the list
          N_ASD.append(N_ASD_temp)
          # Calculate ASD survival rate and append to the list
          asd_survival.append(asd_survival_temp)
          # Calculate rho_adj (adjusted ASD prevalence) and append to the list
          rho_adj.append(rho_adj_temp)
          # Calculate gamma_adj (adjusted ASD cases in the population) and append to the list
          gamma_adj.append(gamma_adj_temp)
          HR.append(exponentiated_HR)
          # Update the ASD prevalence (from current ASD province, sex, age group) for the next iteration
          asd_prevalence_prev = rho_adj_temp
  mydata = {'province': province, 'age': ages, 'sex': sex, 'population':pops,
          'ASD_prev_3_17': ASD_prev_3_17, 'N_ASD': N_ASD, 'Hazard_Ratio': HR,
          'asd_survival': asd_survival, 'rho_adj': rho_adj, 
          'gamma_adj': gamma_adj}

  data2=pd.DataFrame(mydata)
  sim_data.append(data2)

Running simulations: 100%|██████████| 1000/1000 [00:28<00:00, 35.45it/s]

In [42]:
data2[0:60]

,province,age,sex,population,ASD_prev_3_17,N_ASD,Hazard_Ratio,asd_survival,rho_adj,gamma_adj
0,Alberta,18,Female,24840.0,0.010603,263.382811,3.415314,0.996585,0.010567,262.483455
1,Alberta,19,Female,24840.0,0.010603,262.483455,3.415314,0.996585,0.010531,261.587171
2,Alberta,20,Female,26493.0,0.010603,278.994723,3.415314,0.996586,0.010495,278.042345
3,Alberta,21,Female,26493.0,0.010603,278.042345,3.415314,0.996586,0.010459,277.093218
4,Alberta,22,Female,26493.0,0.010603,277.093218,3.415314,0.996586,0.010423,276.147331
5,Alberta,23,Female,26493.0,0.010603,276.147331,3.415314,0.996586,0.010388,275.204673
6,Alberta,24,Female,26493.0,0.010603,275.204673,3.415314,0.996586,0.010352,274.265232
7,Alberta,25,Female,31139.0,0.010603,322.362324,3.415314,0.996586,0.010317,321.261906
8,Alberta,26,Female,31139.0,0.010603,321.261906,3.415314,0.996586,0.010282,320.165245
9,Alberta,27,Female,31139.0,0.010603,320.165245,3.415314,0.996586,0.010247,319.072327
10,Alberta,28,Female,31139.0,0.010603,319.072327,3.415314,0.996586,0.010212,317.983139
11,Alberta,29,Female,31139.0,0.010603,317.983139,3.415314,0.996586,0.010177,316.897670
12,Alberta,30,Female,34895.0,0.010603,355.122007,3.415314,0.996586,0.010142,353.909761
13,Alberta,31,Female,34895.0,0.010603,353.909761,3.415314,0.996586,0.010108,352.701652
14,Alberta,32,Female,34895.0,0.010603,352.701652,3.415314,0.996586,0.010073,351.497667
15,Alberta,33,Female,34895.0,0.010603,351.497667,3.415314,0.996586,0.010039,350.297793
16,Alberta,34,Female,34895.0,0.010603,350.297793,3.415314,0.996586,0.010004,349.102014
17,Alberta,35,Female,34873.0,0.010603,348.881918,3.415314,0.996587,0.009970,347.691211
18,Alberta,36,Female,34873.0,0.010603,347.691211,3.415314,0.996587,0.009936,346.504567
19,Alberta,37,Female,34873.0,0.010603,346.504567,3.415314,0.996587,0.009902,345.321974
20,Alberta,38,Female,34873.0,0.010603,345.321974,3.415314,0.996587,0.009868,344.143416
21,Alberta,39,Female,34873.0,0.010603,344.143416,3.415314,0.996587,0.009835,342.968881
22,Alberta,40,Female,30777.0,0.010603,302.685552,3.415314,0.996588,0.009801,301.652820
23,Alberta,41,Female,30777.0,0.010603,301.652820,3.415314,0.996588,0.009768,300.623611
24,Alberta,42,Female,30777.0,0.010603,300.623611,3.415314,0.996588,0.009734,299.597913
25,Alberta,43,Female,30777.0,0.010603,299.597913,3.415314,0.996588,0.009701,298.575716
26,Alberta,44,Female,30777.0,0.010603,298.575716,3.415314,0.996588,0.009668,297.557005
27,Alberta,45,Female,27865.0,0.010603,269.403319,3.415314,0.996590,0.009635,268.484694
28,Alberta,46,Female,27865.0,0.010603,268.484694,3.415314,0.996590,0.009602,267.569202
29,Alberta,47,Female,27865.0,0.010603,267.569202,3.415314,0.996590,0.009570,266.656831
30,Alberta,48,Female,27865.0,0.010603,266.656831,3.415314,0.996590,0.009537,265.747572
31,Alberta,49,Female,27865.0,0.010603,265.747572,3.415314,0.996590,0.009504,264.841412
32,Alberta,50,Female,26372.0,0.010603,250.651273,3.415314,0.996593,0.009472,249.797275
33,Alberta,51,Female,26372.0,0.010603,249.797275,3.415314,0.996593,0.009440,248.946186
34,Alberta,52,Female,26372.0,0.010603,248.946186,3.415314,0.996593,0.009408,248.097997
35,Alberta,53,Female,26372.0,0.010603,248.097997,3.415314,0.996593,0.009376,247.252698
36,Alberta,54,Female,26372.0,0.010603,247.252698,3.415314,0.996593,0.009344,246.410279
37,Alberta,55,Female,28542.0,0.010603,266.685962,3.415314,0.996597,0.009312,265.778516
38,Alberta,56,Female,28542.0,0.010603,265.778516,3.415314,0.996597,0.009280,264.874157
39,Alberta,57,Female,28542.0,0.010603,264.874157,3.415314,0.996597,0.009249,263.972876
40,Alberta,58,Female,28542.0,0.010603,263.972876,3.415314,0.996597,0.009217,263.074661
41,Alberta,59,Female,28542.0,0.010603,263.074661,3.415314,0.996597,0.009186,262.179503
42,Alberta,60,Female,25737.0,0.010603,236.413491,3.415314,0.996603,0.009155,235.610506
43,Alberta,61,Female,25737.0,0.010603,235.610506,3.415314,0.996603,0.009123,234.810248
44,Alberta,62,Female,25737.0,0.010603,234.810248,3.415314,0.996603,0.009092,234.012708
45,Alberta,63,Female,25737.0,0.010603,234.012708,3.415314,0.996603,0.009062,233.217877
46,Alberta,64,Female,25737.0,0.010603,233.217877,3.415314,0.996603,0.009031,232.425745
47,Alberta,65,Female,20136.0,0.010603,181.844224,3.415314,0.996614,0.009000,181.228448
48,Alberta,66,Female,20136.0,0.010603,181.228448,3.415314,0.996614,0.008970,180.614757
49,Alberta,67,Female,20136.0,0.010603,180.614757,3.415314,0.996614,0.008939,180.003144
50,Alberta,68,Female,20136.0,0.010603,180.003144,3.415314,0.996614,0.008909,179.393603
51,Alberta,69,Female,20136.0,0.010603,179.393603,3.415314,0.996614,0.008879,178.786125
52,Alberta,70,Female,15375.0,0.010603,136.513541,3.415314,0.996634,0.008849,136.053972
53,Alberta,71,Female,15375.0,0.010603,136.053972,3.415314,0.996634,0.008819,135.595950
54,Alberta,72,Female,15375.0,0.010603,135.595950,3.415314,0.996634,0.008790,135.139469
55,Alberta,73,Female,15375.0,0.010603,135.139469,3.415314,0.996634,0.008760,134.684526
56,Alberta,74,Female,15375.0,0.010603,134.684526,3.415314,0.996634,0.008730,134.231114
57,Alberta,75,Female,10419.0,0.010603,90.962860,3.415314,0.996667,0.008701,90.659711
58,Alberta,76,Female,10419.0,0.010603,90.659711,3.415314,0.996667,0.008672,90.357573
59,Alberta,77,Female,10419.0,0.010603,90.357573,3.415314,0.996667,0.008643,90.056442

In [38]:
def ci_summary(my_list, percent=True, Label='Mean'):
  # Calculate mean
  mean_val = np.mean(my_list)
  # Calculate 2.5 percentile
  percentile_025 = np.percentile(my_list, 2.5)
  # Calculate 97.5 percentile
  percentile_975 = np.percentile(my_list, 97.5)
  if percent==True:
    print(f"\n{Label}: {mean_val*100:.2f}%, (95% SI: {percentile_025*100:.2f}%, {percentile_975*100:.2f}%)")
  else:
    print(f"\n{Label}: {mean_val:.2f}, (95% SI: {percentile_025:.2f}, {percentile_975:.2f})")

In [39]:
national_prevalence=[]
national_prevalence_male=[]
national_prevalence_female=[]

for sim in tqdm(sim_data, desc="Processing groups"):
  males=sim[sim['sex']=='Male']['gamma_adj'].sum()
  females=sim[sim['sex']=='Female']['gamma_adj'].sum()
  pop_males=sim[sim['sex']=='Male']['population'].sum()
  pop_females=sim[sim['sex']=='Female']['population'].sum()

  national_prevalence.append(sim['gamma_adj'].sum()/sim['population'].sum())
  national_prevalence_male.append(males/pop_males)
  national_prevalence_female.append(females/pop_females)

ci_summary(national_prevalence, True, Label='National Estimate: ')
ci_summary(national_prevalence_male, True, Label='National Estimate Males: ')
ci_summary(national_prevalence_female, True, Label='National Estimate Females: ')

Processing groups: 100%|██████████| 1000/1000 [00:03<00:00, 310.14it/s]

National Estimate: : 2.04%, (95% SI: 1.98%, 2.11%)

National Estimate Males: : 3.25%, (95% SI: 3.15%, 3.36%)

National Estimate Females: : 0.86%, (95% SI: 0.76%, 0.95%)

In [40]:
HR_simulated_male=[]
HR_simulated_female=[]


for sim in tqdm(sim_data, desc="Processing groups"):
  HR_simulated_female.append(sim[sim['sex']=='Female']['Hazard_Ratio'].values[0])
  HR_simulated_male.append(sim[sim['sex']=='Male']['Hazard_Ratio'].values[0])

ci_summary(HR_simulated_male, False, Label='HR Males')
ci_summary(HR_simulated_female, False, Label='HR Females')

Processing groups: 100%|██████████| 1000/1000 [00:01<00:00, 800.95it/s]

HR Males: 3.14, (95% SI: 2.58, 3.78)

HR Females: 3.16, (95% SI: 2.35, 4.24)